<% provide(:title, @user.name) %>
<div class="container">
   <h1>
      <%= @user.name %> Claudino
      <small>Administrador</small>
      <hr>
   </h1>
   <div id="wrapper" class="animate">
      <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
         <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav animate side-nav">
            <li class="nav-item">
               <a class="nav-link" href="#" title="Dashboard"><i class="fas fa-cube"></i> Editar Notícias <i class="fas fa-cube shortmenu animate"></i></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" title="Cart"><i class="fas fa-cart-plus"></i> Editar Produtos <i class="fas fa-cart-plus shortmenu animate"></i></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" title="Comment"><i class="fas fa-comment"></i> Editar Categorias <i class="fas fa-comment shortmenu animate"></i></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#" title="Comment"><i class="fas fa-comment"></i> Editar Usuários <i class="fas fa-comment shortmenu animate"></i></a>
            </li>
         </ul>
         </div>
      </nav>
   </div>
      <div class="container-fluid">
         <div class="row">
         <div class="col">
            <div class="card">
               <div class="card-body">
               <h5 class="card-title">Try Other</h5>
               <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
               <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
               <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
               <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <div class="card-body">
               <h5 class="card-title">Try Other</h5>
               <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
               <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
               <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
               <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
               </div>
            </div>
         </div>
         </div>
         <div class="row">
         <div class="col">
            <div class="card">
               <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <table class="table">
                  <thead>
                     <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Last</th>
                     <th scope="col">Handle</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                     <th scope="row">1</th>
                     <td>Mark</td>
                     <td>Otto</td>
                     <td>@mdo</td>
                     </tr>
                     <tr>
                     <th scope="row">2</th>
                     <td>Jacob</td>
                     <td>Thornton</td>
                     <td>@fat</td>
                     </tr>
                     <tr>
                     <th scope="row">3</th>
                     <td>Larry</td>
                     <td>the Bird</td>
                     <td>@twitter</td>
                     </tr>
                  </tbody>
               </table>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card">
               <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <table class="table">
                  <thead>
                     <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Last</th>
                     <th scope="col">Handle</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                     <th scope="row">1</th>
                     <td>Mark</td>
                     <td>Otto</td>
                     <td>@mdo</td>
                     </tr>
                     <tr>
                     <th scope="row">2</th>
                     <td>Jacob</td>
                     <td>Thornton</td>
                     <td>@fat</td>
                     </tr>
                     <tr>
                     <th scope="row">3</th>
                     <td>Larry</td>
                     <td>the Bird</td>
                     <td>@twitter</td>
                     </tr>
                  </tbody>
               </table>
               </div>
            </div>
         </div>
         </div>
      </div>
</div>